.products_list {
  transition: 0.5s;
  border-radius: 20px;
}

.products_list a {
  cursor: pointer;
}

.products_list:hover {
  box-shadow: 0 10px 15px rgb(182, 182, 182);
  transform: scale(1);
}

.products-container{
  flex-wrap: wrap;
  display: flex;
  margin: auto 5%;
  justify-content: flex-start;
  min-height: 75vh;
}

.itemWraper a:hover {
  border-bottom: none;
}

.itemWraper p {
  font-size: 20px;
  color: #afadb5;

  margin-top: 5px;
  /* margin-left: 10px; */
  margin-bottom: 0px;
}

.itemWraper h1 {
  font-size: 25px;
  margin-bottom: 0px;
  margin-top: 0px;

  margin-left: 10px;
}

.itemWraper h2 {
  font-size: 24px;

  margin-top: 10px;
  margin-left: 10px;
  padding-bottom: 10px;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .itemProduct {
    width: 50px;
  }

  .itemProduct img {
    width: 50px;
  }

  .itemWraper p {
    font-size: 18px;
  }

  .itemWraper h1 {
    font-size: 20px;
  }

  .itemWraper h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .itemProduct {
    width: 50px;
  }

  .itemProduct img {
    width: 50px;
  }

  .itemWraper p {
    font-size: 20px;
  }

  .itemWraper h1 {
    font-size: 16px;
  }

  .itemWraper h2 {
    font-size: 16px;
  }
}
