.productList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding-top: 50px;
  flex: 0 0 33.3333%;
}

.addedProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 50px 0;
  flex: 0 0 33.3333%;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  .productSearchbox input,
  .productPageSearchbox input {
    width: 650px;
    height: 84px;
  }
}

@media screen and (max-width: 767px) {
  .productSearchbox input,
  .productPageSearchbox input {
    width: 350px;
    height: 54px;
  }

  .productSearchbox input[search="search"],
  .productPageSearchbox input[type="text"] {
    background-position: 10px 10px;
    background-repeat: no-repeat;
    font-size: 15px;
    padding-left: 55px;
  }
}
